.padding {
    padding-top: 25px;
} 
.text {
    position: absolute;
    top: 3px;
    left: 25px;
}
.border {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #000;
    width: 50px;
    height: 600px;
    border: none;
    padding: 50px;
    border-radius: 10px;
}
.button {
  border: none;
  color: #fff;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  cursor: pointer;
  border-radius: 8px;
  font-family: 'Roboto Condensed', sans-serif;
}
.images {
    position: absolute;
    top: 12px;
    left: 10px;
}
.header {
  padding: 0px;
  text-align: center;
  background: #000;
  color: white;
  font-size: 30px;
  position: absolute;
}
.padding2 {
    position: absolute;
    top: 705px;
    left: 4px;
}
.button1 {background-color: #000;} /* Green */
embed {
    width: 200px;
    height: 700px;
}
.h3text1 {
    padding-top: 1%;
}
img {
    transition: all .2s ease-in-out;
    display: inline;
    border: 4px solid #fff;
    border-radius: 25px;
}
img:hover {
    transform: scale(1.14);
}
@media (max-width: 480px) {
    body {
        background-image: url(../images/subtle-prism2.png);
    }
}

@media (min-width: 481px) and (max-width: 1024px) {
    body {
        background-image: url(../images/subtle-prism2.png);
    }
}

@media (min-width: 1025px) {
	body {
		background-image: url(../images/subtle-prism2.png);
	}
}